.full-width {
  width: 100%;
  margin: 10px;
}

.add-appointment-card {
  min-width: 120px;
  margin: 10px;
}

.add-appointment-card > mat-card-title {
  padding: 10px;
}

.first-line-input {

}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 20px;
}

.add-form-button-group {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

mat-spinner {
  margin: auto;
}
