<div class=" container login-container" fxLayout="row" fxLayoutAlign="center center">

    <div fxFlex="30%" fxFlex.sm="100%" fxFlex.xs="90%">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-card>
                <mat-card-title>LabMedical</mat-card-title>
                <mat-card-subtitle>Log in</mat-card-subtitle>
                <mat-card-content>

                    <mat-form-field class="full-width">
                        <input id="email" matInput placeholder="E-mail" formControlName="email" autocomplete="email"
                            type="email">

                        <mat-error id="invalidEmailError">
                            Digite um e-mail
                            <strong>válido</strong>
                        </mat-error>
                        <mat-error id="requiredEmailError">
                            E-mail é
                            <strong>obrigatório</strong>
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input id="password" matInput placeholder="Senha" formControlName="senha" type="password"
                            autocomplete="current-password">

                        <mat-error id="requiredPasswordErro">
                            Senha é
                            <strong>obrigatória</strong>
                        </mat-error>

                    </mat-form-field>

                    <!-- <div class="full-width">
                        <mat-slide-toggle formControlName="rememberMe">Lembrar meu e-mail</mat-slide-toggle>
                    </div> -->

                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button id="login" color="primary" class="login-actions">Entrar</button>
                </mat-card-actions>
                <mat-card-actions class="login-actions">
                    <!-- <button mat-button id="resetPassword" class="reset-password" (click)="alterPassword()">Alterar a -->
                    <!-- Senha</button> -->
                </mat-card-actions>

            </mat-card>

            <mat-progress-bar></mat-progress-bar>
        </form>
    </div>
</div>