<h1 mat-dialog-title>
    Trocar senha
</h1>
<div mat-dialog-content>
    <p>Informe os dados abaixo para trocar sua senha</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="col">
            <mat-form-field
                    class="full-width"
                    appearance="outline">
                <mat-label>Email: </mat-label>
                <input matInput
                       placeholder="Ex. alex@email.com"
                       formControlName="email"
                       (focusout)="getUserId()"
                >
                <mat-error *ngIf="resetPasswordForm.controls['email'].hasError('required')">
                    O e-mail é obrigatório
                </mat-error>
                <mat-error
                        *ngIf="resetPasswordForm.controls['email'].hasError('email')
            && !resetPasswordForm.controls['email'].hasError('required')">
                    Digite um e-mail válido
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <div class="row">
                <mat-form-field
                        class="full-width"
                        appearance="outline">
                    <mat-label>Senha: </mat-label>
                    <input matInput
                           type="password"
                           placeholder="Mínimo de 8 caracteres"
                           formControlName="password">
                    <mat-error
                            *ngIf="resetPasswordForm.controls['password'].hasError('required')">
                        A senha é obrigatória
                    </mat-error>
                    <mat-error
                            *ngIf="resetPasswordForm.controls['password'].hasError('minlength')
            && !resetPasswordForm.controls['password'].hasError('required')">
                        A senha deve conter pelo menos 6 caracteres
                    </mat-error>
                </mat-form-field>
                <mat-form-field
                        class="full-width"
                        appearance="outline">
                    <mat-label>Confirme sua senha: </mat-label>
                    <input matInput
                           type="password"
                           placeholder="Confirme sua senha"
                           formControlName="passwordConfirmation">
                    <mat-error *ngIf="resetPasswordForm.controls['passwordConfirmation'].hasError('required')">
                        A confirmação de senha é obrigatória
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
            <span *ngIf="resetPasswordForm.getError('passwordMismatch')">
              As senhas devem ser iguais
            </span>
                </div>
            </div>
    </form>
</div>
<div mat-dialog-actions class="button">
    <button mat-raised-button color="warn"
            (click)="closeDialog()"
    >
        CANCELAR
    </button>
    <button mat-raised-button color="primary"
            (click)="resetPassword()"
            [disabled]="resetPasswordForm.invalid"
    >TROCAR SENHA</button>
</div>
