<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>
        [SQUAD 3]
      </h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs>
        {{userName}}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon>person</mat-icon>
        <span>Conta</span>
      </a>

      <a mat-menu-item [routerLink]="['/auth/login']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
      </a>

    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list>
        <h3 mat-subheader>Home</h3>

        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
          <p mat-line>
          <mat-icon mat-list-icon>
            dashboard
          </mat-icon>
         Dashboard </p>
        </a>

        <a mat-list-item [routerLink]="['/customization']" routerLinkActive="active">
          <p mat-line>
          <mat-icon mat-list-icon>
            account_balance
          </mat-icon>
         Empresa </p>
        </a>

        <a mat-list-item [routerLink]="['/patient/add']" routerLinkActive="active">
          <p mat-line>
            <mat-icon mat-list-icon>
              person
            </mat-icon>
            Paciente
          </p>
        </a>

        <a mat-list-item [routerLink]="['/appointment/add']" routerLinkActive="active">
          <p mat-line>
            <mat-icon mat-list-icon>
              event_note
            </mat-icon>
            Consulta
          </p>
        </a>

        <a mat-list-item [routerLink]="['/exam/add']" routerLinkActive="active">
          <p mat-line>
            <mat-icon mat-list-icon>
              local_hospital
            </mat-icon>
            Exame
          </p>
        </a>

        <a mat-list-item [routerLink]="['/drug']" routerLinkActive="active">
          <p mat-line>
            <mat-icon mat-list-icon>
              healing
            </mat-icon>
            Medicamento
          </p>
        </a>

        <a mat-list-item [routerLink]="['/exercise/add']" routerLinkActive="active">
          <p mat-line>
            <mat-icon mat-list-icon>
              directions_bike
            </mat-icon>
            Exercício
          </p>
        </a>

        <a mat-list-item [routerLink]="['/diet']" routerLinkActive="active">
          <p mat-line>
            <mat-icon mat-list-icon>
              fastfood
            </mat-icon>
            Dieta
          </p>
        </a>

        <a mat-list-item [routerLink]="['/record']" routerLinkActive="active">
          <p mat-line>
            <mat-icon mat-list-icon>
              assignment
            </mat-icon>
            Prontuário
          </p>
        </a>

        <a mat-list-item [routerLink]="['/user/add']" routerLinkActive="active">
          <p mat-line>
            <mat-icon mat-list-icon>
              supervised_user_circle
            </mat-icon>
            Usuário
          </p>
        </a>

       <mat-divider></mat-divider>

       <a id="push-bottom" mat-list-item [routerLink]="['/about']" routerLinkActive="active">
        <p mat-line>
          <mat-icon mat-list-icon>
            info_outline
          </mat-icon>
          Sobre
        </p>
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="loadingService.visibility | async">
        </mat-progress-bar>
      </div>


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
