<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <mat-card-title> Cadastro de Medicamento </mat-card-title>
      <div fxLayout="column">
        <form [formGroup]="formPatient">
          <mat-form-field
            *ngIf="pacientes.length > 0"
            class="full-width"
            appearance="outline"
          >
            <mat-label>Selecione um Paciente</mat-label>
            <mat-select (focus)="onFocus()" formControlName="nomePaciente">
              <mat-option
                *ngFor="let paciente of pacientes"
                [value]="paciente.nome"
              >
                {{ paciente.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            *ngIf="drugs.length > 0"
            class="full-width"
            appearance="outline"
          >
            <mat-label>Selecione um Medicamento</mat-label>
            <mat-select (focus)="onFocus()" formControlName="medicamento">
              <mat-option *ngFor="let drug of drugs" [value]="drug.descricao">
                {{ drug.descricao }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <form [formGroup]="formDrug" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nome do Medicamento</mat-label>
            <input
              (focus)="onFocus()"
              matInput
              placeholder="Nome"
              formControlName="descricao"
            />

            <mat-error id="requiredDescriptionError">
              A descrição do medicamento é
              <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Data</mat-label>
            <input
              matInput
              placeholder="Data"
              formControlName="dtaMedicamento"
            />

            <mat-error id="invalidDataError">
              Você deve inserir a data da medicação
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Horário</mat-label>
            <input matInput placeholder="Horário" formControlName="horario" />

            <mat-error id="invalidHorarioError">
              Você deve inserir o horário da medicação
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo">
              <mat-option value="capsula">Cápsula</mat-option>
              <mat-option value="comprimido">Comprimido</mat-option>
              <mat-option value="liquido">Líquido</mat-option>
              <mat-option value="creme">Creme</mat-option>
              <mat-option value="gel">Gel</mat-option>
              <mat-option value="inalacao">Inalação</mat-option>
              <mat-option value="injecao">Injeção</mat-option>
              <mat-option value="spray">Spray</mat-option>
            </mat-select>

            <mat-error id="invalidTipoError">
              Você deve selecionar o tipo da medicação
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Quantidade</mat-label>
            <input
              matInput
              placeholder="Quantidade"
              formControlName="quantidade"
            />

            <mat-error id="invalidQuantidadeError">
              Você inserir a quantidade de medicação
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Unidade</mat-label>
            <mat-select formControlName="unidade">
              <mat-option value="mg">mg</mat-option>
              <mat-option value="mcg">mcg</mat-option>
              <mat-option value="g">g</mat-option>
              <mat-option value="mL">mL</mat-option>
              <mat-option value="%">%</mat-option>
            </mat-select>

            <mat-error id="invalidUnidadeError">
              Você deve selecionar a unidade da medicação
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Observações</mat-label>
            <input
              matInput
              placeholder="Observações"
              formControlName="observacao"
            />

            <mat-error id="invalidObservationError">
              Você deve inserir a observation da medicação
            </mat-error>
          </mat-form-field>

          <div fxLayoutAlign="center center" fxLayoutGap="5px">
            <button
              mat-raised-button
              color="primary"
              id="cadastrar"
              [disabled]="isEditing"
              type="submit"
            >
              CADASTRAR
            </button>
            <button
              mat-raised-button
              color="warn"
              id="editar"
              [disabled]="isDisabled"
              (click)="editDrug()"
            >
              EDITAR
            </button>
            <button
              mat-raised-button
              [disabled]="isDisabled"
              (click)="deleteDrug()"
              color="accent"
            >
              DELETAR
            </button>
            <button
              mat-raised-button
              [disabled]="isDisabled ||isAdmin()"
              (click)="logs()"
              color="link"
            >
              LOGS
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
