<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <mat-card-title> Cadastro de Empresa </mat-card-title>
      <div fxLayout="column">
        <form [formGroup]="formExistingCompany">
          <mat-form-field
            *ngIf="companies.length > 0"
            class="full-width"
            appearance="outline"
          >
            <mat-label>Selecione uma Empresa</mat-label>
            <mat-select (focus)="onFocus()" formControlName="nomeEmpresa">
              <mat-option
                *ngFor="let company of companies"
                [value]="company.nome"
              >
                {{ company.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <form [formGroup]="formCompany" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nome da Empresa</mat-label>
            <input
              (focus)="onFocus()"
              matInput
              placeholder="Nome"
              formControlName="nome"
            />

            <mat-error id="requiredNomeError">
              O nome da sua empresa é
              <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Slogan da Empresa</mat-label>
            <input matInput placeholder="Slogan" formControlName="slogan" />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Palheta de Cores</mat-label>
            <mat-select formControlName="palhetaDeCores">
              <mat-option value="deeppurple-amber"
                >Deep Purple & Amber</mat-option
              >
              <mat-option value="indigo-pink">Indigo & Pink</mat-option>
              <mat-option value="pink-bluegrey">Pink & Blue-grey</mat-option>
              <mat-option value="purple-green">Purple & Green</mat-option>
            </mat-select>

            <mat-error id="invalidCoresError">
              Você deve selecionar a palheta de cores padrão da sua empresa
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>URL do Logotipo</mat-label>
            <input
              matInput
              placeholder="Logotipo"
              formControlName="logotipo"
            />

            <mat-error id="invalidLogoError">
              Você deve inserir a URL do logotipo da sua empresa
            </mat-error>
          </mat-form-field>

          <div fxLayoutAlign="center center" fxLayoutGap="5px">
            <button
              mat-raised-button
              color="primary"
              id="cadastrar"
              [disabled]="isEditing"
              type="submit"
            >
              CADASTRAR
            </button>
            <button
              mat-raised-button
              color="warn"
              id="editar"
              [disabled]="isDisabled"
              (click)="editCompany()"
            >
              EDITAR
            </button>
            <button
              mat-raised-button
              [disabled]="isDisabled"
              color="accent"
              (click)="deleteCompany()"
            >
              DELETAR
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
